<!DOCTYPE html>
<html>
    <head>
        <title>ADMIN HOCA KAYIT SAYFASI</title>


        <link rel="stylesheet" href="/style.css">
    </head>
    <body>

    <div class="col-md-6 offset-3 text-center">
        
        <h1>ADMIN HOCA KAYIT SAYFASI</h1>

        <form method="POST" >
        <input class="form-control mb-3" placeholder="Hoca Hakkında" name="hh" type="text" required>
        <input class="form-control mb-3" placeholder="Hoca İletişim" name="hi" type="text" required>
        <input class="form-control mb-3" placeholder="Hoca Şehir" name="hs" type="text" required>
        <input class="form-control mb-3" placeholder="Hoca Ülke" name="hu" type="text" required>
        <input class="form-control mb-3" placeholder="Hoca Ünvanı" name="hunvan" type="text" required>
        <input class="form-control mb-3" placeholder="Hoca Adı" name="ad" type="text" required>
        <input class="form-control mb-3" placeholder="Hoca Soyadı" name="soyad" type="text" required>
        <input class="form-control mb-3" placeholder="Hoca Kullanıcı Adı" name="hocausername" type="text"required>
        <input class="form-control mb-3" placeholder="Hoca Şifre" name="hocapassword" type="text"required>


<button type="submit" class="btn btn-dark">Kaydet</button>
<a href="/admin/index" class="btn btn-light">Admin Panel</a>
        </form>
</div>

    </body>
</html>


