<!DOCTYPE html>
<html>
    <head>

    <title>ADMIN PANEL</title>

        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        

        <div class="col-md-6 offset-3 text-center">
        <h1>ADMIN PANEL</h1>

<a href="/admin/ogrenci" class="btn btn-danger">Öğrenci Kayıt</a>
<a href="/admin/hoca" class="btn btn-warning">Hoca Kayıt</a>
<a href="/admin/fakulte" class="btn btn-success">Fakülte Kayıt</a>
<a href="/admin/bolum" class="btn btn-dark">Bölüm Kayıt</a>
<a href="/admin/ders" class="btn btn-light">Ders Kayıt</a>

</div>

    </body>
</html>


