<!DOCTYPE html>
<html>
    <head>
<title>Hoca Giriş Sayfası</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <div class="col-md-4 offset-4 text-center">
        <h1>Hoca Giriş Sayfası</h1>

        <form method="POST">
        <input class="form-control mb-3" placeholder="hocausername" name="hocausername" type="text" >
        <input class="form-control mb-3" placeholder="hocapassword" name="hocapassword" type="password" >



<button type="submit" class="btn btn-dark">Giriş Yap</button>
</div>
        </form>



    </body>
</html>


