<!DOCTYPE html>
<html>
    <head>
        <title>ÖĞRENCİ GİRİŞ SAYFASI</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
                <div class="col-md-4 offset-md-4 text-center">

        <h1>ÖĞRENCİ GİRİŞ SAYFASI</h1>

        <form method="POST">
        <input class="form-control mb-3" placeholder="Kullanıcı Adı" name="ogrenciusername" type="text" required>
        <input class="form-control mb-3" placeholder="Şifre" name="ogrencipassword" type="password" required>



        <button type="submit" class="btn btn-dark">Giriş Yap</button>

        </form>

</div>

    </body>
</html>


