<!DOCTYPE html>
<html>
    <head>
    <title>Hoca Panel</title>
        <link rel="stylesheet" href="/style.css">
    </head>
    <body class="book-form">
        <div class="col-md-4 offset-4 text-center">
        <h1>Hoca Panel</h1>

<a href="/hoca/odev" class="btn btn-info mt-4">Ödev Gönder / Düzenle</a>
<a href="/hoca/teslim" class="btn btn-info mt-4">Teslim Edilen Ödevler</a>

</div>
    </body>
</html>


